<a href="https://colab.research.google.com/github/marianegri/Python_DataScience_MachineLearning/blob/main/Pre-processamento/Jogos_brasileirao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Importando dados

In [ ]:
df_jogos2013 = pd.read_csv('jogos_2013.csv', index_col=['id_arena','id_clube1',
                                                        'id_clube2','id_clube_vencedor',
                                                        'id_estado_vencedor','id_estado_clube1',
                                                        'id_estado_clube2'])
df_jogos2014 = pd.read_csv('jogos_2014.csv', index_col=['id_arena','id_clube1',
                                                        'id_clube2','id_clube_vencedor',
                                                        'id_estado_vencedor','id_estado_clube1',
                                                        'id_estado_clube2'])
df_jogos2015 = pd.read_csv('jogos_2015.csv', index_col=['id_arena','id_clube1',
                                                        'id_clube2','id_clube_vencedor',
                                                        'id_estado_vencedor','id_estado_clube1',
                                                        'id_estado_clube2'])
df_jogos2016 = pd.read_csv('jogos_2016.csv', index_col=['id_arena','id_clube1',
                                                        'id_clube2','id_clube_vencedor',
                                                        'id_estado_vencedor','id_estado_clube1',
                                                        'id_estado_clube2'])
df_jogos2017 = pd.read_csv('jogos_2017.csv', index_col=['id_arena','id_clube1',
                                                        'id_clube2','id_clube_vencedor',
                                                        'id_estado_vencedor','id_estado_clube1',
                                                        'id_estado_clube2'])

In [ ]:
df_arenas  = pd.read_csv('arenas.csv', index_col='id_arena')
df_clubes  = pd.read_csv('clubes.csv', index_col='id_clube')
df_estados = pd.read_csv('estados.csv', index_col='id_estado')

# Concatenar dados

In [ ]:
df_jogos2013.shape

(380, 6)

In [ ]:
df_jogos = pd.concat([df_jogos2013, df_jogos2014, df_jogos2015, df_jogos2016, df_jogos2017], axis = 0)

In [ ]:
df_jogos.shape

(1900, 6)

In [ ]:
df_jogos.head()

,,,,,,,data,dia,horario,rodada,qtd_gols_clube1,qtd_gols_clube2
id_arena,id_clube1,id_clube2,id_clube_vencedor,id_estado_vencedor,id_estado_clube1,id_estado_clube2,,,,,,
36,29,18,0,0,8,21,25/05/2013,Sábado,18:30,1ª Rodada,2,2
68,28,23,28,19,19,25,25/05/2013,Sábado,18:30,1ª Rodada,1,0
60,9,7,0,0,25,19,25/05/2013,Sábado,21:00,1ª Rodada,1,1
3,17,20,17,21,21,17,26/05/2013,Domingo,16:00,1ª Rodada,2,0
38,11,6,11,24,24,5,26/05/2013,Domingo,16:00,1ª Rodada,3,1

In [ ]:
df_arenas.head()

                desc_arena
id_arena
0         Não Identificada
1               1º de Maio
2                  Aflitos
3           Alfredo Jaconi
4           Allianz Parque

In [ ]:
df_jogos = df_jogos.join(df_arenas, how='left')

In [ ]:
df_jogos = df_jogos.join(df_clubes, how='left', on=['id_clube1'], lsuffix='1', rsuffix='2')
df_jogos = df_jogos.join(df_clubes, how='left', on=['id_clube2'], lsuffix='1', rsuffix='2')
df_jogos.head()

,,,,,,,data,dia,horario,rodada,qtd_gols_clube1,qtd_gols_clube2,desc_arena,desc_clube1,desc_clube2
id_arena,id_clube1,id_clube2,id_clube_vencedor,id_estado_vencedor,id_estado_clube1,id_estado_clube2,,,,,,,,,
36,29,18,0,0,8,21,25/05/2013,Sábado,18:30,1ª Rodada,2,2,Fonte Nova,Vitória,Internacional
68,28,23,28,19,19,25,25/05/2013,Sábado,18:30,1ª Rodada,1,0,São Januário,Vasco,Portuguesa
60,9,7,0,0,25,19,25/05/2013,Sábado,21:00,1ª Rodada,1,1,Pacaembu,Corinthians,Botafogo
3,17,20,17,21,21,17,26/05/2013,Domingo,16:00,1ª Rodada,2,0,Alfredo Jaconi,Grêmio,Náutico
38,11,6,11,24,24,5,26/05/2013,Domingo,16:00,1ª Rodada,3,1,Heriberto Hülse,Criciúma,Bahia

In [ ]:
df_jogos = df_jogos.join(df_clubes, how='left', on=['id_clube_vencedor'])
df_jogos.head()

,,,,,,,data,dia,horario,rodada,qtd_gols_clube1,qtd_gols_clube2,desc_arena,desc_clube1,desc_clube2,desc_clube
id_arena,id_clube1,id_clube2,id_clube_vencedor,id_estado_vencedor,id_estado_clube1,id_estado_clube2,,,,,,,,,,
36,29,18,0,0,8,21,25/05/2013,Sábado,18:30,1ª Rodada,2,2,Fonte Nova,Vitória,Internacional,Não Identificado
68,28,23,28,19,19,25,25/05/2013,Sábado,18:30,1ª Rodada,1,0,São Januário,Vasco,Portuguesa,Vasco
60,9,7,0,0,25,19,25/05/2013,Sábado,21:00,1ª Rodada,1,1,Pacaembu,Corinthians,Botafogo,Não Identificado
3,17,20,17,21,21,17,26/05/2013,Domingo,16:00,1ª Rodada,2,0,Alfredo Jaconi,Grêmio,Náutico,Grêmio
38,11,6,11,24,24,5,26/05/2013,Domingo,16:00,1ª Rodada,3,1,Heriberto Hülse,Criciúma,Bahia,Criciúma

In [ ]:
df_jogos = df_jogos.join(df_estados, how='left', on=['id_estado_clube1'], lsuffix='1', rsuffix='2')
df_jogos = df_jogos.join(df_estados, how='left', on=['id_estado_clube2'], lsuffix='1', rsuffix='2')
df_jogos = df_jogos.join(df_estados, how='left', on=['id_estado_vencedor'])
df_jogos.head()

,,,,,,,data,dia,horario,rodada,qtd_gols_clube1,qtd_gols_clube2,desc_arena,desc_clube1,desc_clube2,desc_clube,sigla_estado1,desc_estado1,sigla_estado2,desc_estado2,sigla_estado,desc_estado
id_arena,id_clube1,id_clube2,id_clube_vencedor,id_estado_vencedor,id_estado_clube1,id_estado_clube2,,,,,,,,,,,,,,,,
36,29,18,0,0,8,21,25/05/2013,Sábado,18:30,1ª Rodada,2,2,Fonte Nova,Vitória,Internacional,Não Identificado,ES,Espírito Santo,RS,Rio Grande do Sul,XX,Não Identificado
68,28,23,28,19,19,25,25/05/2013,Sábado,18:30,1ª Rodada,1,0,São Januário,Vasco,Portuguesa,Vasco,RJ,Rio de Janeiro,SP,São Paulo,RJ,Rio de Janeiro
60,9,7,0,0,25,19,25/05/2013,Sábado,21:00,1ª Rodada,1,1,Pacaembu,Corinthians,Botafogo,Não Identificado,SP,São Paulo,RJ,Rio de Janeiro,XX,Não Identificado
3,17,20,17,21,21,17,26/05/2013,Domingo,16:00,1ª Rodada,2,0,Alfredo Jaconi,Grêmio,Náutico,Grêmio,RS,Rio Grande do Sul,PE,Pernambuco,RS,Rio Grande do Sul
38,11,6,11,24,24,5,26/05/2013,Domingo,16:00,1ª Rodada,3,1,Heriberto Hülse,Criciúma,Bahia,Criciúma,SC,Santa Catarina,BA,Bahia,SC,Santa Catarina

In [ ]:
df_jogos.rename(columns={"desc_arena":"arena", 
                         "desc_clube1":"clube1", 
                         "desc_clube2":"clube2", 
                         "desc_clube":"clube_vencedor", 
                         "desc_estado":"estado_vencedor", 
                         'sigla_estado':'sigla_estado_vencedor'}, inplace = True)
df_jogos.head()

,,,,,,,data,dia,horario,rodada,qtd_gols_clube1,qtd_gols_clube2,arena,clube1,clube2,clube_vencedor,sigla_estado1,desc_estado1,sigla_estado2,desc_estado2,sigla_estado_vencedor,estado_vencedor
id_arena,id_clube1,id_clube2,id_clube_vencedor,id_estado_vencedor,id_estado_clube1,id_estado_clube2,,,,,,,,,,,,,,,,
36,29,18,0,0,8,21,25/05/2013,Sábado,18:30,1ª Rodada,2,2,Fonte Nova,Vitória,Internacional,Não Identificado,ES,Espírito Santo,RS,Rio Grande do Sul,XX,Não Identificado
68,28,23,28,19,19,25,25/05/2013,Sábado,18:30,1ª Rodada,1,0,São Januário,Vasco,Portuguesa,Vasco,RJ,Rio de Janeiro,SP,São Paulo,RJ,Rio de Janeiro
60,9,7,0,0,25,19,25/05/2013,Sábado,21:00,1ª Rodada,1,1,Pacaembu,Corinthians,Botafogo,Não Identificado,SP,São Paulo,RJ,Rio de Janeiro,XX,Não Identificado
3,17,20,17,21,21,17,26/05/2013,Domingo,16:00,1ª Rodada,2,0,Alfredo Jaconi,Grêmio,Náutico,Grêmio,RS,Rio Grande do Sul,PE,Pernambuco,RS,Rio Grande do Sul
38,11,6,11,24,24,5,26/05/2013,Domingo,16:00,1ª Rodada,3,1,Heriberto Hülse,Criciúma,Bahia,Criciúma,SC,Santa Catarina,BA,Bahia,SC,Santa Catarina

In [ ]:
df_jogos.reset_index(drop=True, inplace=True)
df_jogos.head()

,data,dia,horario,rodada,qtd_gols_clube1,qtd_gols_clube2,arena,clube1,clube2,clube_vencedor,sigla_estado1,desc_estado1,sigla_estado2,desc_estado2,sigla_estado_vencedor,estado_vencedor
0,25/05/2013,Sábado,18:30,1ª Rodada,2,2,Fonte Nova,Vitória,Internacional,Não Identificado,ES,Espírito Santo,RS,Rio Grande do Sul,XX,Não Identificado
1,25/05/2013,Sábado,18:30,1ª Rodada,1,0,São Januário,Vasco,Portuguesa,Vasco,RJ,Rio de Janeiro,SP,São Paulo,RJ,Rio de Janeiro
2,25/05/2013,Sábado,21:00,1ª Rodada,1,1,Pacaembu,Corinthians,Botafogo,Não Identificado,SP,São Paulo,RJ,Rio de Janeiro,XX,Não Identificado
3,26/05/2013,Domingo,16:00,1ª Rodada,2,0,Alfredo Jaconi,Grêmio,Náutico,Grêmio,RS,Rio Grande do Sul,PE,Pernambuco,RS,Rio Grande do Sul
4,26/05/2013,Domingo,16:00,1ª Rodada,3,1,Heriberto Hülse,Criciúma,Bahia,Criciúma,SC,Santa Catarina,BA,Bahia,SC,Santa Catarina

## Qual o clube que mais marcou gols em todas as temporadas?

In [ ]:
df_jogos.groupby(['clube1'])['qtd_gols_clube1'].sum().max()

173

In [ ]:
df_jogos.groupby(['clube2'])['qtd_gols_clube2'].sum().max()

110

In [ ]:
# O time do clube 1 marcou mais pontos então:
df_jogos.groupby(['clube1'])['qtd_gols_clube1'].sum().sort_values(ascending = False).head(1)

clube1
Cruzeiro    173
Name: qtd_gols_clube1, dtype: int64

In [ ]:
if( df_jogos.groupby(['clube1'])['qtd_gols_clube1'].sum().max() > df_jogos.groupby(['clube2'])['qtd_gols_clube2'].sum().max() ):
  print(df_jogos.groupby(['clube1'])['qtd_gols_clube1'].sum().sort_values(ascending = False).head(1))
else:
  print(df_jogos.groupby(['clube2'])['qtd_gols_clube2'].sum().sort_values(ascending = False).head(1))

clube1
Cruzeiro    173
Name: qtd_gols_clube1, dtype: int64

## Qual o clube que mais marcou gols na temporada de 2015?

In [ ]:
jogos2015 = df_jogos[df_jogos['data'].str.slice(start=6) == '2015']
if( jogos2015.groupby(['clube1'])['qtd_gols_clube1'].sum().max() > jogos2015.groupby(['clube2'])['qtd_gols_clube2'].sum().max() ):
  print(jogos2015.groupby(['clube1'])['qtd_gols_clube1'].sum().sort_values(ascending = False).head(1))
else:
  print(jogos2015.groupby(['clube2'])['qtd_gols_clube2'].sum().sort_values(ascending = False).head(1))

clube1
Santos    47
Name: qtd_gols_clube1, dtype: int64

## Qual o jogo onde houveram mais gols, em todas as temporadas?

In [ ]:
df_jogos['qtd_total_gols'] = df_jogos['qtd_gols_clube1']+df_jogos['qtd_gols_clube2']
df_jogos.head()

,data,dia,horario,rodada,qtd_gols_clube1,qtd_gols_clube2,arena,clube1,clube2,clube_vencedor,sigla_estado1,desc_estado1,sigla_estado2,desc_estado2,sigla_estado_vencedor,estado_vencedor,qtd_total_gols
0,25/05/2013,Sábado,18:30,1ª Rodada,2,2,Fonte Nova,Vitória,Internacional,Não Identificado,ES,Espírito Santo,RS,Rio Grande do Sul,XX,Não Identificado,4
1,25/05/2013,Sábado,18:30,1ª Rodada,1,0,São Januário,Vasco,Portuguesa,Vasco,RJ,Rio de Janeiro,SP,São Paulo,RJ,Rio de Janeiro,1
2,25/05/2013,Sábado,21:00,1ª Rodada,1,1,Pacaembu,Corinthians,Botafogo,Não Identificado,SP,São Paulo,RJ,Rio de Janeiro,XX,Não Identificado,2
3,26/05/2013,Domingo,16:00,1ª Rodada,2,0,Alfredo Jaconi,Grêmio,Náutico,Grêmio,RS,Rio Grande do Sul,PE,Pernambuco,RS,Rio Grande do Sul,2
4,26/05/2013,Domingo,16:00,1ª Rodada,3,1,Heriberto Hülse,Criciúma,Bahia,Criciúma,SC,Santa Catarina,BA,Bahia,SC,Santa Catarina,4

In [ ]:
df_jogos.sort_values(by = 'qtd_total_gols', ascending = False).head(1)

,data,dia,horario,rodada,qtd_gols_clube1,qtd_gols_clube2,arena,clube1,clube2,clube_vencedor,sigla_estado1,desc_estado1,sigla_estado2,desc_estado2,sigla_estado_vencedor,estado_vencedor,qtd_total_gols
1568,08/06/2017,Quinta-feira,20:00,5ª Rodada,3,6,Arena Condá,Chapecoense,Grêmio,Grêmio,SC,Santa Catarina,RS,Rio Grande do Sul,RS,Rio Grande do Sul,9

## Qual foi o estado mais vitorioso (quantidade de partidas) em 2016?

In [ ]:
jogos2016 = df_jogos[df_jogos['data'].str.slice(start=6) == '2016']
jogos2016.groupby('estado_vencedor')['estado_vencedor'].count().sort_values(ascending=False)

estado_vencedor
Não Identificado     95
São Paulo            90
Rio de Janeiro       50
Minas Gerais         38
Paraná               28
Rio Grande do Sul    25
Pernambuco           21
Santa Catarina       21
Espírito Santo       12
Name: estado_vencedor, dtype: int64